# Desarrollo de KPIs

El objetivo es obtener un mínimo de 3 KPIs. Los siguientes son los que vamos a desarrollar.

        * Vamos a obtener la división entre el volumen y el market cap, utilizando datos de coingecko, para cada criptomoneda por separado. Este KPI nos va a informar sobre el performance del volumen de la criptomoneda con respecto al suministro total. O lo que es lo mismo, nos va a informar sobre la cantidad de criptomonedas tradeadas con respecto al suministro máximo. Si bien no encontré datos directos de dicho suministro, el market cap lo mide de manera indirecta. Lo vamos a tomar con base en la última fecha.

        * El siguiente será una conjunción de los KPIs individuales, esto es, el promedio total del conjunto de participaciones de cada cripto con respecto a su propio market cap.

        * Por último, vamos a obtener un promedio de capitalización de mercado de las criptomonedas trabajadas y se va a comparar con el market cap total del mercado cripto. También con respecto al dato de la última fecha.

In [3]:
import os
import pandas as pd

In [12]:
dfc = []
crl = []
for i in [i for i in os.listdir('CoinGecko/data') if '_' not in i]:
    path = f'CoinGecko/data/{i}'
    crl.append(i.replace('.csv',''))
    dfc.append(pd.read_csv(path))
    if crl[-1] == 'btc':
        dfc = [dfc.pop()] + dfc
        crl = [crl.pop()] + crl

j = 0
for i in dfc:
    i['Fecha'] = pd.to_datetime(i.Fecha)
    i = i[['Fecha','Market_Cap']]
    i.columns = ['Fecha',f'Market_Cap_{crl[j].upper()}']
    if j == 0:
        df_cgm = i
    else:
        df_cgm = df_cgm.merge(i,how='left',on='Fecha')
    j += 1
    
df_cgm.head(3)

,Fecha,Market_Cap_BTC,Market_Cap_ADA,Market_Cap_BNB,Market_Cap_DOGE,Market_Cap_DOT,Market_Cap_ETH,Market_Cap_LTC,Market_Cap_MATIC,Market_Cap_SHIB,Market_Cap_SOL,Market_Cap_TRX,Market_Cap_XRP
0,2013-04-30,1.501657e+09,NaN,NaN,NaN,NaN,NaN,72037636.0,NaN,NaN,NaN,NaN,NaN
1,2013-05-01,1.298952e+09,NaN,NaN,NaN,NaN,NaN,62957992.0,NaN,NaN,NaN,NaN,NaN
2,2013-05-02,1.148668e+09,NaN,NaN,NaN,NaN,NaN,58565340.0,NaN,NaN,NaN,NaN,NaN

In [38]:
dfx = pd.DataFrame(df_cgm.iloc[-2,:]).reset_index()
for i in sorted(crl):
    dfx['index'] = dfx['index'].apply(lambda x: f'{i.upper()}' if i.upper() in x else x)
dfx = dfx.drop(0).reset_index(drop=True)
dfx

    index                 3761
0     BTC  506815826635.921692
1     ADA    9235485828.738453
2     BNB   33229783482.267448
3    DOGE    8883843143.310179
4     DOT    5708140873.304548
5     ETH  199322878932.424866
6     LTC    4711720091.350384
7   MATIC     5381633677.37328
8    SHIB    5050301737.144831
9     SOL    8681695608.575741
10    TRX     6529508622.26548
11    XRP   26678600727.832035

In [13]:
dfc = []
crl = []
for i in [i for i in os.listdir('CoinGecko/data') if '_' not in i]:
    path = f'CoinGecko/data/{i}'
    crl.append(i.replace('.csv',''))
    dfc.append(pd.read_csv(path))
    if crl[-1] == 'btc':
        dfc = [dfc.pop()] + dfc
        crl = [crl.pop()] + crl

j = 0
for i in dfc:
    i['Fecha'] = pd.to_datetime(i.Fecha)
    i = i[['Fecha','Volumen']]
    i.columns = ['Fecha',f'USD_Volumen_{crl[j].upper()}']
    if j == 0:
        df_cgv = i
    else:
        df_cgv = df_cgv.merge(i,how='left',on='Fecha')
    j += 1
    
df_cgv.head(3)

,Fecha,USD_Volumen_BTC,USD_Volumen_ADA,USD_Volumen_BNB,USD_Volumen_DOGE,USD_Volumen_DOT,USD_Volumen_ETH,USD_Volumen_LTC,USD_Volumen_MATIC,USD_Volumen_SHIB,USD_Volumen_SOL,USD_Volumen_TRX,USD_Volumen_XRP
0,2013-04-30,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
1,2013-05-01,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,2013-05-02,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [36]:
dfy = pd.DataFrame(df_cgv.iloc[-2,:]).reset_index()
for i in sorted(crl):
    dfy['index'] = dfy['index'].apply(lambda x: f'{i.upper()}' if i.upper() in x else x)
dfy = dfy.drop(0).reset_index(drop=True)
dfy

    index                3761
0     BTC  18062351745.503578
1     ADA    265109511.755594
2     BNB     614638062.66676
3    DOGE    586152864.134783
4     DOT    148323528.105848
5     ETH  11856910739.734947
6     LTC   1018612219.601479
7   MATIC    294450925.806405
8    SHIB    319245613.221001
9     SOL    412220153.690789
10    TRX      225980979.4858
11    XRP   1918958850.387304

In [49]:
# dfx = dfx.merge(dfy,on='index')
# dfx.columns = ['Fecha','Mcap','Vol']
dfx['KPI_1'] = dfx.Vol / dfx.Mcap
dfx.sort_values(by='KPI_1',ascending=False)

    Fecha                 Mcap                 Vol     KPI_1
6     LTC    4711720091.350384   1018612219.601479  0.216187
11    XRP   26678600727.832035   1918958850.387304  0.071929
3    DOGE    8883843143.310179    586152864.134783   0.06598
8    SHIB    5050301737.144831    319245613.221001  0.063213
5     ETH  199322878932.424866  11856910739.734947  0.059486
7   MATIC     5381633677.37328    294450925.806405  0.054714
9     SOL    8681695608.575741    412220153.690789  0.047482
0     BTC  506815826635.921692  18062351745.503578  0.035639
10    TRX     6529508622.26548      225980979.4858  0.034609
1     ADA    9235485828.738453    265109511.755594  0.028706
4     DOT    5708140873.304548    148323528.105848  0.025985
2     BNB   33229783482.267448     614638062.66676  0.018497

In [57]:
KPI_2 = dfx.KPI_1.mean()
KPI_2

0.06020206549438282

In [60]:
mcap_prom = dfx.Mcap.sum()
mcap_prom
KPI_3 = mcap_prom / 1050000000000
KPI_3

0.781170875581437